.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/30d93185065d9a5caa1840861d015bb32e746f190929a505a8928de721e2266d896dd83b9ed349f3e5de0b7478f1e08e57c05cb0ffd5fe40ad9f73_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 51px 98px 0;
}

.u-section-1-1 .u-text-2 {
  margin: 51px 98px 0 125px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 51px auto 60px;
  padding: 4px 30px 5px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 391px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/748ff047ce11ac9175f55e7584ef665f304afef6c261551b8bbb1e0e6c028da1d8a927f18291459284dab9d0d5fd5afe63b97cd16c0675e5806c35_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 150px 98px 0;
}

.u-section-1-2 .u-text-2 {
  margin: 24px 98px 0 125px;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px auto 60px;
  padding: 4px 30px 5px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 391px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/d069c6bb4aa3493b7bd1d2ec01b4c6fa145e655d3575dde087c92750119804f5232c41450929b9edb28f33e0ed4f0047cb3f453ada71c1bc7c7b55_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 150px 98px 0;
}

.u-section-1-3 .u-text-2 {
  margin: 24px 98px 0 125px;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px auto 60px;
  padding: 4px 30px 5px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 391px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/9992ea7bddb20290fd42dab69c28c5fa2b74cd8f6221fd59f050bf553640736d3b12003435ae5bf4e0902f33d91fb36ac0d979b352066e4bc1cb82_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 150px 98px 0;
}

.u-section-1-4 .u-text-2 {
  margin: 24px 98px 0 125px;
}

.u-section-1-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px auto 60px;
  padding: 4px 30px 5px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 391px;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 23px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 234px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}.u-block-704b-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-704b-3 {
  position: absolute;
  left: 0;
}

.u-block-704b-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 60px 570px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 120px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: -178px 94px 0 auto;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: -28px auto 60px 0;
  padding: 10px 84px 10px 83px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.5rem;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-shape-1 {
    width: 205px;
    height: 206px;
    margin-top: -188px;
    margin-right: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1168px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0 0 auto;
}

.u-section-3 .u-image-1 {
  min-height: 582px;
  background-image: url("images/gfbh-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 292px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  font-size: 6rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 34px 192px 0 2px;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 290px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-image-2 {
  min-height: 584px;
  background-image: url("images/gfb.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 60px;
}

.u-section-3 .u-list-1 {
  min-height: 232px;
  width: 772px;
  grid-auto-rows: 100%;
  margin: -66px 110px 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-auto-rows: 100%;
  grid-gap: 30px 30px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/reee-min.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/fvzd-min.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  background-image: url("images/asd.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 480px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 292px;
  }

  .u-section-3 .u-image-2 {
    min-height: 482px;
  }

  .u-section-3 .u-list-1 {
    min-height: 216px;
    height: auto;
    width: 707px;
    margin-top: -37px;
    margin-right: 79px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2190px;
  }

  .u-section-3 .u-image-1 {
    min-height: 735px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-3 .u-image-2 {
    min-height: 738px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-3 .u-list-1 {
    min-height: 221px;
    width: 652px;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 20px);
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2143px;
  }

  .u-section-3 .u-image-1 {
    min-height: 551px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-3 .u-image-2 {
    min-height: 554px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-list-1 {
    min-height: 491px;
    width: 472px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-rows: calc(50% - 15px);
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1740px;
  }

  .u-section-3 .u-image-1 {
    min-height: 347px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 298px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 349px;
  }

  .u-section-3 .u-list-1 {
    min-height: 577px;
    width: 185px;
    margin-top: -92px;
    margin-left: 30px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 20px);
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 743px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 623px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 162px;
  height: 162px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 143px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 768px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 27px;
  }

  .u-section-4 .u-shape-1 {
    width: 149px;
    height: 149px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 50px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 687px;
}

.u-section-5 .u-shape-1 {
  width: 294px;
  height: 249px;
  background-image: none;
  margin: 378px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1098px;
  margin: -567px auto 30px 0;
}

.u-section-5 .u-image-1 {
  min-height: 551px;
  background-image: url("images/734vv-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-group-1 {
  width: 323px;
  min-height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 0.875rem;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 1px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 278px;
  background-image: url("images/3761e269-2cf3-f2f9-c169-8c9e9d68b6d9.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 273px;
  background-image: url("images/17728g.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 898px;
    margin-bottom: 96px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 289px;
  }

  .u-section-5 .u-image-3 {
    min-height: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-5 .u-shape-1 {
    width: 341px;
    height: 311px;
    margin-top: 60px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 667px;
    margin-top: -1396px;
    margin-bottom: -978px;
  }

  .u-section-5 .u-image-1 {
    min-height: 685px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-5 .u-image-2 {
    min-height: 346px;
  }

  .u-section-5 .u-image-3 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-5 .u-shape-1 {
    width: 343px;
    height: 258px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -1552px;
    margin-bottom: -1178px;
  }

  .u-section-5 .u-image-1 {
    min-height: 531px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-5 .u-image-2 {
    min-height: 537px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 263px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-5 .u-shape-1 {
    height: 167px;
    width: 220px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 304px;
    margin-top: -1076px;
    margin-bottom: -814px;
  }

  .u-section-5 .u-image-1 {
    min-height: 347px;
  }

  .u-section-5 .u-group-1 {
    width: 267px;
    margin-top: 263px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-5 .u-image-2 {
    min-height: 333px;
  }

  .u-section-5 .u-image-3 {
    min-height: 163px;
  }
}.u-section-6 {
  background-image: none;
  min-height: 1363px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 60px calc(((100% - 1140px) / 2) + 300px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-shape-1 {
  height: 632px;
  width: calc(((100% - 1140px) / 2) + 403px);
  margin: 155px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 799px;
  height: 656px;
  margin: -522px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -146px auto 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-6 .u-list-1 {
  min-height: 712px;
  grid-template-rows: auto;
  width: 570px;
  grid-auto-rows: 100%;
  margin: -965px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-auto-rows: calc(50% - 15px);
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin-top: 20px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  margin-top: 20px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-6 .u-text-7 {
  font-style: italic;
  margin-top: 20px;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-style: italic;
  margin-top: 20px;
}

.u-section-6 .u-text-10 {
  margin: 287px calc(((100% - 1140px) / 2) + 717px) 59px calc(((100% - 1140px) / 2));
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 1376px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 75px;
    margin-right: calc(((100% - 940px) / 2) + 198px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 403px);
  }

  .u-section-6 .u-image-1 {
    width: 734px;
    height: 639px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-shape-2 {
    margin-top: -129px;
    margin-left: calc(((100% - 940px) / 2) + 30px);
  }

  .u-section-6 .u-list-1 {
    width: 503px;
    height: auto;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-6 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 517px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1997px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 403px);
    margin-top: 68px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 627px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -117px;
    margin-left: calc(((100% - 720px) / 2) + 30px);
  }

  .u-section-6 .u-list-1 {
    min-height: 662px;
    width: 720px;
    margin-top: 58px;
    margin-right: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin: 42px calc(((100% - 720px) / 2) + 297px) 60px calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 1904px;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-shape-1 {
    height: 409px;
    width: calc(((100% - 540px) / 2) + 403px);
    margin-top: 67px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 470px;
    margin-top: -299px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -103px;
    margin-left: calc(((100% - 540px) / 2) + 20px);
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: 53px;
    min-height: 712px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 37px;
    margin-right: calc(((100% - 540px) / 2) + 117px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 2174px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-shape-1 {
    height: 299px;
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 296px;
    margin-top: -231px;
  }

  .u-section-6 .u-shape-2 {
    width: 170px;
    height: 170px;
    margin-top: -85px;
    margin-left: calc(((100% - 340px) / 2) + 23px);
  }

  .u-section-6 .u-list-1 {
    min-height: 1254px;
    width: 340px;
    margin-top: 51px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 22.5px);
  }

  .u-section-6 .u-text-10 {
    width: 340px;
    margin-top: 51px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 620px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  min-height: 331px;
  background-image: url("images/texture.png");
  background-position: 50% 50%;
  width: 440px;
  margin: 187px 1px 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-shape-1 {
  width: 312px;
  height: 528px;
  margin: -518px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 529px;
  height: 407px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -488px auto 0 40px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 45px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 186px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  margin: 32px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-7 .u-image-1 {
    min-height: 307px;
  }

  .u-section-7 .u-shape-1 {
    width: 257px;
    height: 514px;
    margin-top: -494px;
  }

  .u-section-7 .u-image-2 {
    width: 438px;
    height: 389px;
    margin-top: -474px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 30px;
    padding-left: 35px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-7 .u-image-1 {
    min-height: 253px;
    width: 329px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 208px;
    height: 494px;
    margin-top: -440px;
  }

  .u-section-7 .u-image-2 {
    width: 326px;
    height: 326px;
    margin-top: -454px;
    margin-bottom: -59px;
    margin-left: 33px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    width: 432px;
    height: 307px;
    margin-bottom: -40px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 156px;
    width: 254px;
    margin-top: 184px;
  }

  .u-section-7 .u-shape-1 {
    width: 146px;
    height: 387px;
    margin-top: -339px;
  }

  .u-section-7 .u-image-2 {
    width: 250px;
    height: 225px;
    margin-top: -350px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }
}.u-section-8 {
  background-image: none;
  min-height: 594px;
}

.u-section-8 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 513px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 58px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 476px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 30px 30px 40px;
}

.u-section-8 .u-text-5 {
  font-size: 3rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-8 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 4px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 510px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 423px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-8 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 318px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 324px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 900px;
  }

  .u-section-8 .u-shape-1 {
    height: 423px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -403px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-8 .u-text-5 {
    font-size: 2.25rem;
  }
}@font-face {
  font-family: 'MYRIADPRO-REGULAR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MYRIADPRO-REGULAR.OTF);
}